<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style type="text/css">
		p
		{
			text-align: center;
			background-color: cadetblue;
			color: white;
			padding: 23px;
			margin-left: 40%;
			margin-right: 40%;
		}
		#sample
		{
			margin-left: 23%;
			background-color: green;
			text-align: center;
			padding: 23px;
		}
		.sa
		{
			margin-left: 20%;
			text-align: center;
			color: green;
			background-color: yellow;
		}
	</style>
</head>
<body>
    <h3>Your name is : <span style='color:green;font-size: 29px'>{{n}}</span></h3>
    <h4 style="text-align: center">Your id is : {{i}}</h4>
<h1>Internal</h1>
<p>This is an example for internal styling based on tag</p>
<h4 id='sample'>This is example for internal based on Id</h4>

<h4 class="sa">This is an example for class by using Internal Styling</h4>
<p class="sa">This is an example</p><
<h1 class="sa">Hi Welcome Ramu</h1>



</body>
</html>