{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Including Internal JavaScript</title>
	<script type="text/javascript">
		function generateMSG() {
			alert("You got it...");
		}
	</script>
	<script type="text/javascript" src="{% static 'js/Myscript.js'%}"></script>
</head>
<body>
	<h2>Please click this button to get alert from internal JS</h2>
<input type="button" name="button" value="Click Me" onclick="generateMSG()">
<h2>Please click this button to get alert from external JS</h2>
<input type="button" name="button" value="Press Me" onclick="display()">
</body>
</html>