<!DOCTYPE html>
<html>
<head>
	<title<Registration Form</title>
</head>
<body>
	<h1>Registration Form</h1>
	<h2>Hi {{firstname}}</h2>
	<table border="1">
		<tr>
			<thead>
				<th>first Name</th>
				<th>last name</th>
				<th>emailId</th>
				<th>phno</th>
				<th>gender</th>
				<th>address</th>
				<th>languagesknown</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{firstname}}</td>
				<td>{{lastname}}</td>
				<td>{{emailId}}</td>
				<td>{{phonenumber}}</td>
				<td>{{gender}}</td>
				<td>{{address}}</td>
				<td>{{languages}}</td>
			</tbody>
		</tr>	
	</table>
</body>
</html>